{% extends "index.html" %}
{% load static %}
{% block title %}
    <title>Food Opia | Details</title>
    {% endblock %}
      {% block content %}
<div class="container mt-4">
        <div class="row">
          <div class="col-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">

              <img src="{% static "Images/2 Chicken.jpg" %}" height="270px">
              <div class="card-body">
                <h5 class="card-title" style="color: black;">Masala Chicken</h5>
                <form method="POST">
                {% for i in data %} 
                <p class="card-text"  style="color: black;">₹150 (Half) {{i.half}} 
                <p class="card-text"  style="color: black;"> ₹300 (Full) {{i.full}} 
                </p>
                {% endfor %}
                </form>
               <!-- <a href="/resturantNearMe/" class="btn btn-secondary w-50">Place Order</a> -->

                 <a href="/resturantNearMe/" class="btn btn-secondary">Online</a>
                <a href="/cod/" class="btn btn-secondary">COD</a>
              </div>
            </div>
          </div>      
      {% endblock %}