{% extends "index.html" %}
{% load static %}
{% block title %}
    <title>Details</title>
    {% endblock %}
      {% block content %}

    <div class="container mt-4">
        <div class="row">
          <div class="col-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="{% static "images/3 Dosa.jpg" %}" height="270px">
              <div class="card-body">
                <h5 class="card-title" style="color:black;">Tava Dosa</h5>
                {% for i in data %}
                
                <p class="card-text" style="color:black;">Masala Dosa-₹{{i.masaladhosa}}
                    <p class="card-text" style="color:black;">   Paneer Dosa-₹{{i.paneerdhosa}}
                </p>
                {% endfor %}
                
                <a href="/resturantNearMe/" class="btn btn-secondary">Online</a>
                <a href="/cod/" class="btn btn-secondary">COD</a>                
              </div>
            </div>
          </div>
{% endblock %}