{% extends "index.html" %}
{% load static %}
{% block title %}
    <title>Food Opia | Menu  </title>
    {% endblock %}
      {% block content %}

  <div class="container mt-4">
    <div class="row">
      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static "images/2 Chicken.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Masala Chicken</h5>
            <p class="card-text"  style="color: black;">Non-Veg</p>
            <a href="/detail/" class="btn btn-secondary">Order</a>
            
          </div>
        </div>
      </div>
            <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static "images/3 Dosa.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Tava Dosa</h5>
            <p class="card-text"  style="color: black;">South Indian</p>
            <a href="/detail2/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static "images/4 Panner.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Shahi Paneer</h5>
            <p class="card-text"  style="color: black;">Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/5 Momos.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title" style="color: black;">Steam Momos</h5>
            <p class="card-text"  style="color: black;">Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/7 Kabab.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title" style="color: black;">Mutton Kabab</h5>
            <p class="card-text" style="color: black;">Non-Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/8 Prawn.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">SeaFood</h5>
            <p class="card-text"  style="color: black;">Non-Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/9 Dal.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Dal Makhni</h5>
            <p class="card-text"  style="color: black;">Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/10 Dessert.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Pastry</h5>
            <p class="card-text"  style="color: black;">Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/6 Pasta.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">White Sauce Pasta</h5>
            <p class="card-text"  style="color: black;">Italian Pasta</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/16 Taco.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Taco</h5>
            <p class="card-text"  style="color: black;">Mexican</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/17 Biriyani.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Biryani</h5>
            <p class="card-text"  style="color: black;">Non-Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/noodles.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Noodles</h5>
            <p class="card-text"  style="color: black;">Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="container mt-4">
      <div class="row mt-3">
      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/blog-1.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Veggie Burger</h5>
            <p class="card-text"  style="color: black;">Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/blog-2.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Fruit Salad</h5>
            <p class="card-text"  style="color: black;">Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static  "images/blog-3.jpg" %}" height="270px">
          <div class="card-body">
            <h5 class="card-title"  style="color: black;">Non-Veg Burger</h5>
            <p class="card-text"  style="color: black;">Non-Veg</p>
            <a href="/paymentlink/" class="btn btn-secondary">Order</a>
          </div>
        </div>
      </div>


</div></div>
{% endblock %}


      