{% extends "order.html" %}
{% load static %}

{% block content %}

<center>
        <font face="Arial">
            <h1>Copyright Act,1958</h1>
        </font>
        <img class = "satyamevJayate" src="{% static "images/Privacy Logo.png" %}" alt="">
        <!-- <img src="/Privacy Logo.png"> -->
    </center>
    <font size="+2">
        <p>In exercise of power conferred by section 78 of the Copyright Act, 1957, and in
            supersession of the Copyright Rules, 1958,except as respect things done or omitted to
            be done before such supersession, the Central Government hereby makes the following
            Rules, namely:—</p>
    </font>

    <ul type="circle">
        <li>The Copyright Act, 1957 (the ‘Act’) came into effect from January 1958. The Act has been amended five
            times since then, i.e., in 1983, 1984, 1992, 1994, 1999 and 2012. The Copyright (Amendment) Act, 2012 is the
            most
            substantial. The main reasons for amendments to the Copyright Act, 1957 include to bring the Act in
            conformity
            with two WIPO internet treaties concluded in 1996 namely, the WIPO Copyright Treaty (“WCT”) and WIPO
            Performances and Phonograms Treaty (“WPPT”); to protect the Music and Film Industry and address its
            concerns; to
            address the concerns of the physically disabled and to protect the interests of the author of any work;
            Incidental changes; to remove operational facilities; and enforcement of rights. Some of the important
            amendments to the Copyright Act in 2012 are extension of copyright protection in the digital environment
            such as
            penalties for circumvention of technological protection measures and rights management information, and
            liability of internet service provider and introduction of statutory licenses for cover versions and
            broadcasting organizations; ensuring right to receive royalties for authors, and music composers, exclusive
            economic and moral rights to performers, equal membership rights in copyright societies for authors and
            other
            right owners and exception of copyrights for physically disabled to access any works.Prior to the Act of
            1957,
            the Law of Copyrights in the country was governed by the Copyright Act of 1914. This Act was essentially the
            extension of the British Copyright Act, 1911 to India. Even the Copyright Act, 1957 borrowed extensively
            from
            the new Copyright Act of the United Kingdom of 1956. The Copyright Act, 1957 continues with the common law
            traditions. Developments elsewhere have brought about certain degree of convergence in copyright regimes in
            the
            developed world.</li>
    </ul>
    <br>
    <ul type="circle">
        <li> Presently, the Act is compliant with most international conventions and treaties in the field of
            copyrights.
            India is a member of the Berne Convention of 1886 (as modified at Paris in 1971), the Universal Copyright
            Convention of 1952 and the Agreement on Trade Related Aspects of Intellectual Property Rights (TRIPS)
            Agreement
            of 1995. Though India is not a member of the Rome Convention of 1961, the Act is fully compliant with the
            Rome
            Convention provisions.</li>
    </ul>
    <br>
    <ul type="circle">
        <li>Substantial amendments were made to the provisions of the Act in the year 2012. These amendments had the
            effect
            of making the Act compliant with the WCT and WPPT. Both WCT and WPPT came into force in 2002 and were
            negotiated
            essentially to provide for protection of the rights of copyright holders, performers and producers of
            phonograms
            in the Internet and digital era. India acceded to both these treaties in 2018; Further, the provisions of
            the
            Act are also in harmony with two other WIPO treaties namely, the Beijing Audiovisual Performers Treaty, 2012
            and
            the Marrakesh Treaty to Facilitate Access to Published Works by Visually Impaired or Otherwise Print
            Disabled
            Persons, 2013.</li>
    </ul>
    <br>
    <ul type="circle">
        <li> The Copyright (Amendment) Rules, 2016 were published in Official Gazette of India on 10th August 2016 and
            came
            into effect from 12th August 2016 replacing the old Copyright Rules of 2013. These Rules inter alia brought
            about amendments to the terms and conditions of the office of Chairman and members of the Board and in the
            process of application for registration of copyright. Particularly In Rule 70, Sub-Rule (6), the phrase “in
            relation to any goods” was substituted by the words “in relation to any goods or services”. Accordingly,
            item 14
            under the ‘Statement of Particulars’ of FORM XIV under the First Schedule of the Act, the words “in relation
            to
            any goods” were substituted by “in relation to any goods or services”.</li>
    </ul>
    </font>
    {% endblock %}

    