{% extends "index.html" %}
{% block title %}
<title>Food Opia | Sign-Up</title>
{% endblock %}
{% block content %}
<div class="container-fluid mt-3">
	<div class="row my-5">

<div class="col-md-2 col-1"></div>
<div class="col-md-8 col-10">
  	<h1 class= "text-center background">Sign-Up</h1><br>

{% for i in messages %}
            <div class="alert alert-danger alert-dismissible fade show text-center p-4" role="alert">
                {{i}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

	<form method="post" action="">


    {% csrf_token %}
  <div class="row mb-3">
    <div class="col-md-6 col-12">
    <label class="form-label">Full Name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter Full Name" required>
    
  </div>

    <div class="col-md-6 col-12">
    <label class="form-label">User Name</label>
    <input type="text" class="form-control" name="username" placeholder="Enter User Name" required>
   
  </div>
</div>
  <div class="row mb-3">
    <div class="col-md-6 col-12">
    <label class="form-label">Email Address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter Email " required>
    
  </div>

    <div class="col-md-6 col-12">
    <label class="form-label">Phone Number</label>
    <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number" required>
   
  </div>
</div>
  <div class="row mb-3">
    <div class="col-md-6 col-12">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
    
  </div>

    <div class="col-md-6 col-12">
    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password" required>
   
  </div>
</div>
  
  <button type="submit" class="btn background bg-secondary text-light text-center w-100">Create Account</button>
<div class="d-flex justify-content-between">
	<a class="text-decoration-none" href="/login/">Already User?</a>
</div>
</div>
</form>
</div>
	</div>
</div>
{% endblock %}